

<div class="wrapper">

	<div class="row hero">
		<div class="c8 s2">
			<h1>Get beer delivered</h1>
			<p>Over the past few years, there have been a whole host of beer clubs that have opened up. Each of these give you the opportunity to try new beers from the comfort of your own home (or office).</p>
		</div>
	</div>

	<div class="row">
		<ul class="grid">
			<% @clubs.each do |club| %>
				<li class="club c3">
					<%= image_tag club.image.url %>
					<h3><%= club.name %></h3>
					<p><%= club.description %></p>
					<p><%= link_to "Visit #{club.name}", club.website, :target => '_blank' %></p>
				</li>
			<% end %>
		</ul>
	</div>

</div>