

<div class="wrapper">

	<div class="row">
		<div class="c8">
			<h1>Get beer delivered</h1>
			<p>Over the past few years, there have been a whole host of beer clubs that have opened up. Each of these give you the opportunity to try new beers from the comfort of your own home.</p>
		</div>
	</div>

	<div id="club_list" class="row">
		<ul class="list">
			<% @clubs.each do |club| %>
				<li class="club c4">
					<%= image_tag club.image.url %>
					<span class="name"><%= link_to "#{club.name}", club.website, :target => '_blank' %></span>
					<span class="description"><%= club.description %></span>
				</li>
			<% end %>
		</ul>
	</div>

</div>