
<div class="wrapper">

	<h1>A directory of the best bottle shops is coming soon!</h1>
	<div class="submit_brewery">
		<p>Do you know any good ones? We'd love to include them.</p>
		<%= link_to "Recommend a bottle shop", new_shop_path, class: "button" %>
	</div>
</div>