
<div class="wrapper">

	<div class="row hero">
		<div class="c8 s2">
			<h1>Bottle shops</h1>
			<div class="submit_brewery">
				<p>A directory of the best bottle shops is coming soon. Do you know any good ones? We'd love to include them.</p>
				<%= link_to "Recommend a bottle shop", new_shop_path, class: "button" %>
			</div>
		</div>
	</div>
</div>