

#brewery_list ul.list {
	margin: 40px 0;
}

#brewery_list ul.list:hover li.brewery {
	opacity: 0.2;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#brewery_list ul.list li.brewery:hover {
	opacity: 1;
}

#brewery_list ul.list .row {
	margin-bottom: 0;
}

#brewery_list ul.list li {
	padding: 25px 0;
}


#brewery_list ul li a {
}

#brewery_list ul li .details {
	float: left;
	font-size: 14px;
	padding-top: 18px;
	font-weight: 900;
	margin-left: 40px;
}

#brewery_list ul li .details a {
	color: #40382b;
}

#brewery_list ul li .details a:hover {
	color: #da9f10
}

#brewery_list ul li .details span.name {
	display: block;
	font-size: 36px;
	margin-bottom: 10px;
}

#brewery_list ul li .details span.location,
#brewery_list ul li .details span.brewery_type {
	text-transform: uppercase;
}

#brewery_list ul li .links {
	float: right;
	padding-top: 12px;
}

#brewery_list ul li .links li {
	float: left;
	margin-right: 20px;
}

#brewery_list ul li .links a {
	background-image: url('../assets/icons.png');
	background-size: 63px 150px;
	width: 25px;
	height: 25px;
	display: block;
	text-indent: -9999px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

#brewery_list ul li .links a.twitter {
	background-position: 0 0;
	margin-top: 3px;
}

#brewery_list ul li .links a.twitter:hover {
	background-position: -30px 0;
}

#brewery_list ul li .links a.facebook {
	background-position: 0 -30px;
}

#brewery_list ul li .links a.facebook:hover {
	background-position: -30px -30px;
}

#brewery_list ul li .links a.instagram {
	background-position: 0 -60px;
}

#brewery_list ul li .links a.instagram:hover {
	background-position: -30px -60px;
}

#brewery_list ul li .links a.map {
	background-position: 0 -90px;
}

#brewery_list ul li .links a.map:hover {
	background-position: -30px -90px;
}

#brewery_list ul li .links a.untappd {
	background-position: 0 -120px;
}

#brewery_list ul li .links a.untappd:hover {
	background-position: -30px -120px;
}



#brewery_list ul li:hover {
}


#brewery_list ul li .links {
	opacity: 0.3;
}

#brewery_list ul li:hover .links {
	opacity: 1;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#brewery_list ul li img {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 20px;
}

.search_bar {
	background-color: #fafafa;
	padding: 10px;
	overflow: hidden;
	display: none;
}

#brewery_list  {
}



#brewery_list .search input {
	border: none;
	border-bottom: 1px solid #bbb;
	font-size: 20px;
	padding: 30px 0;
}

#brewery_list .search input:focus {
	background-color: #fff;
	color: #40382b;
}

a.submit_brewery {
}