

#brewery_list ul.list {
	margin: 40px 0;
}

#brewery_list ul.list:hover li.brewery {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#brewery_list ul.list li.brewery:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

#brewery_list ul.list .row {
	margin-bottom: 0;
}

#brewery_list ul.list li {
	padding: 25px 0;
}


#brewery_list ul li a {
}

#brewery_list ul li .details {
	float: left;
	font-size: 14px;
	padding-top: 18px;
	font-weight: 900;
	margin-left: 10px;
}

#brewery_list ul li .details a {
	color: #40382b;
}

#brewery_list ul li .details a:hover {
	color: #da9f10
}

#brewery_list ul li .details span.name {
	display: block;
	font-size: 36px;
	margin-bottom: 10px;
}

#brewery_list ul li .details span.name span {
	color: $main;
}

#brewery_list ul li .details span.location,
#brewery_list ul li .details span.brewery_type {
	text-transform: uppercase;
}

#brewery_list ul li .details span.brewery_type {
	color: #e5e4e1;
}

#brewery_list ul li .links {
	float: right;
	padding-top: 12px;
}

#brewery_list ul li .links li {
	float: left;
	margin-right: 20px;
}

#brewery_list ul li .links a {
	background-image: url('../assets/icons.png');
	background-size: 63px 180px;
	width: 35px;
	height: 35px;
	display: block;
	text-indent: -9999px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

#brewery_list ul li .links a.twitter {
	background-position: 5px 5px;
	margin-top: 3px;
}

#brewery_list ul li .links a.twitter:hover {
	background-position: -25px 5px;
}

#brewery_list ul li .links a.facebook {
	background-position: 5px -25px;
}

#brewery_list ul li .links a.facebook:hover {
	background-position: -25px -25px;
}

#brewery_list ul li .links a.instagram {
	background-position: 5px -55px;
}

#brewery_list ul li .links a.instagram:hover {
	background-position: -25px -55px;
}

#brewery_list ul li .links a.map {
	background-position: 5px -85px;
}

#brewery_list ul li .links a.map:hover {
	background-position: -25px -85px;
}

#brewery_list ul li .links a.untappd {
	background-position: 5px -115px;
}

#brewery_list ul li .links a.untappd:hover {
	background-position: -25px -115px;
}

#brewery_list ul li .links a.ratebeer {
	background-position: 5px -145px;
}

#brewery_list ul li .links a.ratebeer:hover {
	background-position: -25px -145px;
}



#brewery_list ul li:hover {
}


#brewery_list ul li .links {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

#brewery_list ul li:hover .links {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#brewery_list ul li img {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 20px;
}

.search_bar {
	padding: 10px 0;
	overflow: hidden;
}

#brewery_list  {
}



#brewery_list .search input {
	border: none;
	border-bottom: 1px solid #bbb;
	font-size: 20px;
	padding: 30px 0;
	border-radius: 0;
}

#brewery_list .search input:focus {
	background-color: #fff;
	color: #40382b;
	border-bottom: 1px solid $main;
}


.submit_brewery {
	margin-bottom: 80px;
}

.submit_brewery p {
	margin-bottom: 40px;
}

.submit_brewery a {

}





@media only screen and (max-width: 900px) {
	
	#brewery_list ul li .data {
		float: left;
	}

	#brewery_list ul li .details {
		display: block;
		float: none;
		margin-left: 0;
		padding-top: 0;
	}

	#brewery_list ul li .links {
		float: none;
		padding-top: 10px;
		display: block;
	}

	#brewery_list ul.list li {
		padding: 10px 0;
	}



}

@media only screen and (max-width: 530px) {


	#brewery_list ul li img {
		display: none
	}




}